<h2>All Orders</h2>


  <p>Name: <%= @orders.name %></p>
  <p>Email: <%= @orders.email %></p>
  <p>Line Items: </p>
  <ul>
    <% @orders.line_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
    <%= number_to_currency(@orders.total_price) %>
  </ul>
