<% @products.each do |product| %>
    <p>Name: <%= product.name %>, <%= number_to_currency(product.price) %></p>
    <p><%= image_tag product.image.url(:medium) %></p>
    <p><%= button_to "Edit", edit_product_path(product), method: :get %></p>
    <p><%= button_to "Delete", products_path(product), method: :delete, data: {comfirm: "Are you sure"} %></p>
<% end %>

<%= button_to "Add product", new_product_path, method: :get %>