<%= form_for @product do |f| %>

<% if @product.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains <%= pluralize(@product.errors.count, "error") %>.
        </div>
        <ul>
            <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.label :discount %>
    <%= f.number_field :discount %>

    <%= f.label :description %>
    <%= f.text_area :description, rows: 8, cols: 50 %>

    <%= f.label :total %>
    <%= f.number_field :total %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.label :catalog %>
    <%= f.select :catalog, Product.catalogs.keys, prompt: "Select catalog for product" %>
    
    <%= f.label :source %>
    <%= f.country_select :source, {include_blank: 'Select a country'} %>

    <%= f.submit "Create Product" %>
<% end %>