<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Rails -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two" rel="stylesheet">
    <title>VEGETABLEs</title>
  </head>

  <body>
    
    <div class="mid">
      <div class="container">
          <div class="header">
              <div class="logo">
                <%= link_to "CHANRAU.NET", root_path %>
              </div>
              <div class="menu">
                  <ul>
                      <li><%= link_to "Home", root_path %></li>
                      <li><%= link_to "Blog", blog_path %></li>
                      <li  id="li_hover"><%= link_to "shop", shop_path, method: :get %></li>
                      <% if !logged_in? %>
                      <li><%= link_to "sign in", login_path %></li>
                      <li><%= link_to "sign up", signup_path %></li>
                      <% else %>
                      <li><%= link_to current_user.name, current_user %></li>
                      <li><%= link_to "logout", logout_path, method: :delete %></li>
                      <% end %>
                      <li><%= link_to "<i class='fa fa-shopping-cart' style='font-size: 150%'></i>".html_safe, @current_cart %></li>
                  </ul>
              </div>
          </div>

          <% flash.each do |message_type, message| %>
                <div class="<%=message_type %>" id="flash"><strong><%= message_type %></strong><span><%= message %></span></div>
            <% end %>
    <%= yield %>
    <footer>
      <div class="footer-sumary">
          <div class="about">
              <div class="name-about">
                  <p>OUR TEAM</p>

              </div>
              <div class="name-about">
                  <p>ADDRESS</p>

              </div>
              <div class="name-about">
              
              </div>
              <div class="name-about">
                  

              </div>
              <div class="detail-about" id="our_team">
                <iframe width="300px" height="100%" src="https://www.youtube.com/embed/DOT15xaX7-E?start=12" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="detail-about" id="detail_about_span">
                <ul>
                   <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> Trụ sở 1:H8 Mậu Thân , Cần Thơ. Việt Nam</a></li>
                   <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> Trụ sở 2:Vik 2 , Trần Văn Hoài , Cần Thơ , Việt Nam</a></li>
                   <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> Mail: americanTeam@gmail.com</a></li>
                   <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> Liên Hệ: 122429121996</a></li>

                </ul>
              </div>
            
            <div class="detail-about" id="map">
               <div>
                  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDBsOFaxrzhBjLNw20cvOEMj63_Bgrwdt4&callback=initMap'></script><div style='overflow:hidden;height:250px;width:250px;'><div id='gmap_canvas' style='height:250px;width:250px;'></div><div><small><a href="https://embedgooglemaps.com/en/how-to-embed-google-maps-into-your-website/">embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 									embedgooglemaps.com 																		embedgooglemaps.com</a></small></div><div><small><a href="http://buyinstagramfollowersreviews.net/">Visit BIFR.COM/</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(10.034499800000406,105.7733476407532),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(10.034499800000406,105.7733476407532)});infowindow = new google.maps.InfoWindow({content:'<strong>ChanRau</strong><br>h8 cao thắng, Mậu Thân Xuân Khánh Ninh Kiều<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
               </div>
              </div>
        </div>
        </div>
      </div> 
      
      <div class="footer">
        <div class="copyright">
          <p>copyright	&#169; by americanTEAM</p>
        </div>
        <div class="icon-contact">
                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>

        </div>
        </div>
    </div>
</div> <!-- container -->

</div>
    </footer>
    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('#flash').hide('blind');
        }, 3000);
       })
      </script>
  </body>
</html>
