<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Rails -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two" rel="stylesheet">
    <title>VEGETABLEs</title>
  </head>

  <body>
    
    <div class="mid">
      <div class="top">

      </div>
      <div class="container">
          <div class="header">
              <div class="logo">
                <%= link_to "CHANRAU.NET", root_path %>
              </div>
              <div class="menu">
                  <ul>
                      <li><%= link_to "Home", root_path %></li>
                      <li><a href="blog.php">blog</a></li>
                      <li  id="li_hover"><a href="shop.php">shop</a></li>
                      <% if !logged_in? %>
                      <li><%= link_to "sign in", login_path %></li>
                      <li><%= link_to "sign up", signup_path %></li>
                      <% else %>
                      <li><%= link_to current_user.name, current_user %></li>
                      <li><%= link_to "logout", logout_path, method: :delete %></li>
                      <% end %>
                  </ul>
              </div>
          </div>

          <% flash.each do |message_type, message| %>
                <div class="alert alert-<%=message_type %>"><%= message %></div>
            <% end %>
    <%= yield %>
    <footer>
      <div class="footer-sumary">
        <div class="about">
            <div class="name-about">
                <p>OUR TEAM</p>

            </div>
            <div class="name-about">
                <p>RECENT COMMENT</p>

            </div>
            <div class="name-about">
                <p>CUSTOM MENU</p>

            </div>
            <div class="name-about">
                <p>RECENT POSES</p>

            </div>
            <div class="detail-about">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DOT15xaX7-E?start=12" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="detail-about">
              <ul>
                 <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 1</a></li>
                 <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 2</a></li>
                 <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 3</a></li>
                 <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 4</a></li>
                 <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 5</a></li>

              </ul>
            </div>
            <div class="detail-about">
              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 1</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 2</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 3</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 4</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 5</a></li>

              </ul>
            </div>
            <div class="detail-about">
              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 1</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 2</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 3</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 4</a></li>
                <li><i class="fa fa-check" aria-hidden="true"></i><a href="#"> 5</a></li>

              </ul>
            </div>

      </div> 
      
      <div class="footer">
        <div class="copyright">
          <p>copyright	&#169; by americanTEAM</p>
        </div>
        <div class="icon-contact">
                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>

        </div>
        </div>
    </div>
</div> <!-- container -->

</div>
    </footer>
  </body>
</html>
