<div class="content">
    <div class="slider">
        <div class="box">
            <p style="font-size:300%;">ORGANIC</p>
            <p style="font-size:300%;color:rgb(215, 214, 40);" >VEGBOXES</p>
            <p style="font-family: 'Bree Serif', serif;font-size:150%;">FROM $9.99</p>

        </div>
    </div>
    <div class="instead">
        <%= link_to products_path(:catalog => 'Leafy and salad vegetables') do %>
        <div id="item1" class="item">
            <p>Leafy and</p>
            <p>Salad</p>
        </div>
        <% end %>
        <%= link_to products_path(:catalog => 'Fruits') do %>
        <div id="item2"  class="item">
                <p>Fruit</p>
                <p>More Fruit</p>
              </div>
          <% end %>
        <%= link_to products_path(:catalog => 'Flowers and flower buds') do %>
        <div id="item3"  class="item">
          <p>Flowers and </p>
          <p>Flower Buds</p>
        </div>
        <% end %>
        <%= link_to products_path(:catalog => 'Podded vegetables') do %>
        <div id="item4"  class="item">
          <p>Podded</p>
          <p>Vegetables</p>
        </div>
        <% end %>
    </div>
    <div class="organic">
        <p style="font-size:150%;font-family: 'Merriweather', serif;">Best Seller</p>
        <p style="font-weight:600;font-size:85%;">WHEN QUALITY MATTERS TO YOU AND YOUR CUSTOMERS</p>
    </div>
    <div class="product">
     <% @products.each do |product| %>
        <div class="detail-product">
           <div class="dit_me_2"><p style="color:white;"><i class="fa fa-plus" aria-hidden="true"></i></p></div>
           <% if product.discount !=0 %>
           <div class="discout"><p style="color:white;background:tomato;margin-left:120px;margin-top:-7px; border-radius:50% 50%;">-<%= product.discount %>%</p></div>
           <% end %>
           <div class="dit_me">
              <%= link_to "<p style='color:white;'>ADD <i class='fa fa-plus' aria-hidden='true'></i></p>".html_safe, line_items_path(product_id: product.id), method: :post %>
            </div>
            <div class="img_pro_detail">
              <%= image_tag(product.image.url(:medium)) %>
            </div>
            <div class="p_pro_detail1"><p><%= product.name %></p></div>
            <div class="cost"><p class="<%= 'line' if product.discount != 0 %>",style="color:grey;font-weight:500;" ><%= number_to_currency(product.price) %></p></div>
            <% if product.discount != 0 %>
            <div class="discout_2"><p style="color:tomato;padding-top:0;padding-bottom:0;"><%= number_to_currency(product.price_discout) %></p></div>
            <% end %>
        </div>
    <% end %>
    </div>
    <div class="news">
         <div class="like_news">
            <p style="font-size:150%;font-family: 'Merriweather', serif;">Do You Know?</p>
            <p style="font-weight:600;font-size:85%;">WHEN QUALITY MATTERS TO YOU AND YOUR CUSTOMERS</p>
        </div>
        <div class="choose">
          <div class="img-choose1">
              <a style="color:white;" href="blog.php"><p>ITALIAN SAUSAGE SOUP WITH</p>
              <p>WHITE BEANS AND SPINACH</p>
              <p style="font-weight:200;font-size:80%;">Well hello there from an 80-degree October day in New Jersey...</p></a>
          </div>
          <div class="img-choose2">
            <a style="color:white;" href="blog"><p>VISIT OUR ORGANIC RESTAURANT</p>
            <p style="font-weight:200;font-size:80%;">Well hello there from an 80-degree October day in New Jersey...</p></a>
          </div>
          
        </div>
        <div class="choose">
          <div class="img-choose1">
             <a style="color:white;" href="blog.php"><p>ITALIAN SAUSAGE SOUP WITH</p>
              <p>WHITE BEANS AND SPINACH</p>
              <p style="font-weight:200;font-size:80%;">Well hello there from an 80-degree October day in New Jersey...</p></a>
          </div>
          <div class="img-choose2">
            <a style="color:white;" href="blog"><p>VISIT OUR ORGANIC RESTAURANT</p>
            <p style="font-weight:200;font-size:80%;">Well hello there from an 80-degree October day in New Jersey...</p></a>
          </div>
            
          
        </div>

    </div>


</div> <!-- content -->